.sec_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.sec_1 h1 {
  font-size: 32px;
  font-weight: 700;
}
.sec_1 label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  background-color: white;
}
.sec_1 input {
  width: 190px;
  height: 45px;
  left: 855px;
  top: 595px;
  font-size: 18px;
}
.search {
  position: absolute;
  height: 25px;
  left: 10px;
}
.dell {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
